.header {
    display: flex;
}

.role-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-numbers {
    display: flex;
    gap: 10px;
}

.role-numbers div {
    width: 80px;
    text-align: center;
    font-weight: bold;
}

.player-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.role-selects {
    display: flex;
    gap: 10px;
}

.role-selects select {
    width: 80px;
    text-align: center;
    font-weight: bold;
}
