body {
margin: 0;
padding: 40px;
font-family: sans-serif;
}


.title {
font-size: 28px;
margin-bottom: 40px;
}


.csv-area {
background-color: #e0e0e0;
height: 360px;
display: flex;
align-items: center;
justify-content: center;
font-size: 24px;
}


footer {
margin-top: 40px;
}


.back-button {
font-size: 20px;
background: none;
border: none;
cursor: pointer;
}