body {
margin: 0;
padding: 40px;
font-family: sans-serif;
}


.breadcrumb {
color: #2a66ff;
margin-bottom: 80px;
}


main {
display: flex;
flex-direction: column;
align-items: center;
gap: 60px;
}


.file-select {
width: 420px;
padding: 16px;
text-align: center;
border: 1px solid #000;
border-radius: 20px;
cursor: pointer;
}


.register-button {
font-size: 32px;
background: none;
border: none;
cursor: pointer;
}


footer {
margin-top: 120px;
}


.back-button {
font-size: 20px;
background: none;
border: none;
cursor: pointer;
}