/* 全体の設定 */
body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
}

/* ヘッダー部分（団体戦、大会、部門） */
.Team-competition,
.tournament,
.Department {
  display: inline-block;
  font-size: 54px;
  font-weight: normal;
  margin: 0 15px 0 0;
}

/* チーム名セクション */
.teamA,
.teamB {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.teamA {
  position: absolute;
  left: 200px;
  top: 200px;
  font-size: 48px;
}

body > h2:nth-of-type(2) {  /* 「対」 */
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  font-size: 48px;
  font-weight: normal;
  margin: 0;
}

.teamB {
  position: absolute;
  right: 200px;
  top: 200px;
  font-size: 48px;

}

/* ボタン（決定と戻る） */
a {
  position: absolute;
  bottom: 40px;
  font-size: 48px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

body > a:first-of-type {  /* 決定 */
  right: 180px;
}

body > a:last-of-type {  /* 戻る */
  right: 40px;
}